.noData{
    // position: absolute;
    // left:40%;
    padding: 30px 0 20px;
    text-align: center;
    height: 100%;
    // img{
    //     text-align: center;
    // }
    span{
        text-align: center;
        font-size: 12px;
        color: #c6c6c6
    }
}