@import "~antd/lib/style/themes/default.less";
@import "../../style/index.less";

.serverNetworkCard {
    //background-color: #f5f7f9;
    .title{
        margin-bottom: 20px;
        .title_header{
            color: #000;
            margin-right: 10px;
        }
    };
}