@import "~antd/lib/style/themes/default.less";

.login {
  background: #f0f2f5;
  background: url('../../../img/bg.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  .top {
    width: 320px;
    margin: 160px 200px 0 0;
    float: right;
    text-align: center; 
    .header {
      height: 39px;
      line-height: 39px;
      .logo {
        height: 39px;
        vertical-align: top;
        margin-right: 16px;
      }
    }
    .formcont {
      .prefixIcon {
        font-size: 20px;
        color: #a5b7bf;
      }
      .additional {
        text-align: left; 
        .remember {
          color: #a5b7bf;
        }     
        .submit {
          width: 100%;   
        }
        .forgot{
          display: none;
        }
      }  
    }
  }
  :global {
    .ant-divider-inner-text {
      color: #d8dada;   
    }
    .ant-divider-with-text:before{
      border-top: 1px solid #336f7e;
    }
    .ant-divider-with-text:after{
      border-top: 1px solid #336f7e;
    }
    .ant-input {
      background: #336f7e;
      border: none;
    }
    .ant-input:not(:first-child) {
      padding-left: 36px;
    }
    .ant-input-lg {
      color: #d8dada;
    }
    .ant-checkbox-inner {
      background-color: #336f7e;
    }
  }
}







