@import "~antd/lib/style/themes/default.less";

.header {
    background-color: #1DA57A;
}
.right {
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7%;
    line-height: 0px;
    margin-top: 19px;
}
.title {
    float: left;
    width: 25%;
}
.nav {
    float: left;
    line-height: 61px;
    background-color: #1DA57A;
}
a:focus{
    text-decoration: none;
}
.ant-dropdown-link.ant-dropdown-trigger{
    line-height: 0px;
}
