@import "~antd/lib/style/themes/default.less";

.header {
    background-color: #1DA57A;
}
.right {
    float: right;

}
.title {
    float: left;
    width: 400px;
}
.nav {
    float: left;
    line-height: 60px;
    background-color: #1DA57A;
}

