.performance {
    .title {
        line-height: 56px;
        font-size: 24px;
        color: #666;
    }
    .toolBar {
        margin-bottom: 16px;
        padding: 16px;
        background: #f2f2f2;
    }
}
:global{
    .gutter-box {
        min-height: 300px;
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid #e8e8e8;
    }
}