@import "~antd/lib/style/themes/default.less";
@import "../../../style/index.less";
.setting {
    height: 100%;
    .main {
        margin: @margin-base;
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
        .cont {
            min-height: 556px;
            padding: @padding-base;
            border-bottom: 1px solid #e2e4e9;
            .header {
                padding-bottom: @padding-base;
                margin-bottom: @margin-base;
                border-bottom: 1px solid #e2e4e9;                               
            }
            .title {
                margin-top: @margin-base;
                margin-bottom: 0;
                font-size: 20px;
                color: #525459;
                font-weight: normal;
            }
        }
        .footer {
                padding: 20px 80px;
                :nth-child(2){
                    margin-left: @margin-min;
                }
            }
    }
    ._title {
        margin-top: @margin-base;
        margin-bottom: @margin-base;
        font-size: 20px;
        color: #525459;
        font-weight: normal;
    }
    .search{
        width: 300px;
        margin-left: 8px;
    }
    .leftBg{
        background: #fff;
    }
    
}

:global {
    .gutter-box {
        min-height: 300px;
        padding: 16px;
        border: 1px solid #e8e8e8;
    }
    .leftNavItem{
        display: block;
        width: 68px;
        padding: 2px 5px;
        border-radius: 2px;
        margin: 3px 23px;
    }
    .selected{
        background-color: @primary-color;
    }
    .leftNavItem:hover{
        background-color: @primary-color;
        cursor: pointer;
    }
}