@import "~antd/lib/style/themes/default.less";
.resource {
  height: 100%;
  .main {
    margin: 20px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    .header {
      padding: 20px;
      border-bottom: 1px solid #e2e4e9;
      .title {
        margin-bottom: 8px;
        font-size: 20px;
        color: #525459;
        font-weight: normal;
      }
    }
  }
}

