@import "~antd/lib/style/themes/default.less";
@import "../../../style/index.less";

.resource {
  height: 100%;
  .main {
    margin: 20px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    .header {
      padding: 20px;
      border-bottom: 1px solid #e2e4e9;
      .title {
        margin-bottom: 8px;
        font-size: 20px;
        color: #525459;
        font-weight: normal;
      }
    }
    .card{
      padding: 20px;
      .summary{
        padding-bottom: 20px;
        .btn {
          float: right;
        }
      }
    }
    .queryBar {
      margin-bottom: @margin-base;
      :global {
        .ant-select {
          width: 180px;
          margin-left: @margin-min;
          &:first-child {
            margin-left: 0;
          }
        } 
        .ant-btn {
          margin-left: @margin-min;
        }
        .ant-input {
          width: 180px;
          margin-left: @margin-min;
          &:first-child {
            margin-left: 0;
          }
        }
        .ant-cascader-picker{
          width: 180px;
          margin-left: @margin-min;
          &:first-child {
            margin-left: 0;
          }
          .ant-input{
            margin-left: 0;
          }
        }
      }
    }
    .btn {
      margin-top: 5px;
      margin-right: 20px;
    }
  }
}